<h1>Ideas</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col" colspan="4"></th>
  </tr>
  </thead>

  <tbody class="index-table">
  <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.name %></td>
        <td><%= idea.description %></td>
        <td><%= link_to 'Show', idea %></td>


            <td><%= link_to 'Edit', edit_idea_path(idea) %></td>

        <td><%= link_to 'Destroy', idea, method: :delete, data: {confirm: 'Are you sure?'} %></td>

        <td><%= link_to 'Report', idea, method: :delete, data: {confirm: 'Report to Admin'} %> </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<div class="btn-new-idea">
  <button type="button" class="btn btn-primary"><%= link_to 'New Idea', new_idea_path %></button>
</div>