// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-new-idea {
  a {
    color: white !important;

    &:hover {
      text-decoration: none;
    }
  }
}